* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-background;
    font-family: $font-roboto;
    color: $color-text;
}

a {
    color: $color-text;
}